.game{
    width: 255px;
    text-align: center;
    font-family: system-ui;
    color:rgba(255, 255, 255, 0.938);
    margin: auto;
    font-weight: 500;
    font-size: larger;
}
.title{
    background-color: rgb(54, 54, 180);
    padding: 5px 0;
    margin: 5px 0;
}
span{
    /**color:rgb(210, 154, 70);*/
    color: rgb(216, 125, 151);

}
.square{
    width:80px;
    height:80px;
    background-color: rgb(54, 54, 180);
    float:left;
    margin: 2px;
    font-size: 50px;
}
.square:hover{
    /**background: rgb(21, 21, 69);*/
    cursor: pointer;
    background: rgb(210, 77, 115);
}